p, a {
   
    /*width: 80%;*/
    /* margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px; */
    margin: 20px;
    padding: 20px;
    /*display: inline-block;*/
    background: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}


.wrapper{
    background: lightpink;
    max-width: 1024px;
    margin:0 auto;
    padding: 10px;
}

.wrapper:after{
    content: "something";
    clear: both;
    display: block;

}


img{
    float: left;
    margin: 10px;
}

.boxred{
    background: red;
    float: right;
}

.boxgreen{
    background: green;
    float: right;
    
}

.boxblue{
    background: blue;
    float: left;
   
}

.box{
    height: 200px;
    width: 200px;
}

.description h2, .description p{
    color: purple;
    text-align: center;
}

.description{
    float: left;
    border: 1px dotted lightpink;
    width: 29%;
    background: lightsalmon;
    margin:1%;
    padding: 1%;
    height: 200px;

} 

section, aside{
    float: left;
    width: 46%;
    background: lightsteelblue;
    margin:1%;
    padding: 1%;
}

.columns:after{
    display: block;
    clear: both;
    content: "";
}

.content p{
    column-count: 4;
    column-gap: 50px;
    column-rule: 1px dotted black;
}